<div class="cal-month-day <%= cls %>" data-events-count="<%= events.length %>">
    <span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
    <% if (events.length > 0) { %>
    <div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
        <ul>
            <% k=0 %>
            <% _.each(events, function(event) { %>
            <% k++ %>
            <% if (k <= 3) { %>
            <li style="<%= event['color'] %>">
                <span style="background:<%= event['color'] %>" class="label"><%= event['time'] %></span>
                <a style="color: <%= event['color'] %>" href="javascript:void(0);" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
                   class="<%= event['class'] %>" data-toggle="tooltip"><%= event.title %></a>
            </li>       
            <% } %>
            <% }); %>
        </ul>
        <% if (events.length > 0) { %>
        <div class="btn-more clearfix">
            <div class="pull-left">
                <a href="javascript:void(0);" class="btn">Manage </a>
            </div>
            <div class="pull-right">
                <span class="event-day"><%= day %></span>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
</div>
